/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#flash_notice {
  background: green;
  padding: 1em;
  text-align: center;
  color: #fff;
}